.template-cards {
  @apply flex flex-col gap-1 p-1;
  gap: 1rem;
  padding: 0.25rem;

  &__empty {
    @extend .h2 !optional;
    @apply flex items-center justify-center text-center;
    min-height: 50vh;
    color: var(--cm-gray-600) !important;
  }
}

.template-card {
  @apply flex flex-row p-4 pb-8 border rounded-md bg-white;
  gap: 1rem;
  border: 1px solid var(--cm-gray-200);
  box-shadow: var(--cm-card-box-shadow);

  &__intro {
   flex: 3;
  }
  &__actions {
    @apply flex flex-row items-start justify-between;
    flex: 4;
    gap: 2rem;
  }
  &__action {
    flex: 1;
    a, & &--install {
      text-transform: lowercase;
      @apply text-md font-semibold text-secondary;
      &:hover {
        @apply opacity-80 underline;
      }
    }
    div {
      color: var(--cm-gray-900);
    }
    &--tooltip {
      @apply text-md text-secondary cursor-pointer;
    }
  }

}
